@model IEnumerable<Salsbokningssystem.Models.AccountIndexViewModel>

@{
    ViewBag.Title = "Hantera användare";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
                  
            <p id="maintitle">
                Det finns för närvarande: @Model.Count()st registreringar.
            </p>
        </div>
    </section>
}

<h2>Användare</h2>

<div>
    @Html.ActionLink("Lägg till ny användare", "Register") |
    @Html.ActionLink("Använd batchfil", "BatchFile")
</div>
@using (Ajax.BeginForm(new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentDiv"
                            
                        }))
{
    @Html.TextBox("searchString")
    <input type="submit" value="Sök" />
    
}
<div id="contentDiv">
    @Html.Partial("_UsersPartial",Model)
</div>
