@model Salsbokningssystem.Models.LoginModel

@{
    ViewBag.Title = "Inloggning";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    <h2>Logga in med dina kontouppgifter.</h2>
    @using (Html.BeginForm(new { ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Logga in" />
            @Html.ActionLink("Glömt lösenordet?", "RecoverPassword")
        </fieldset>
    }
</section>

<section id="socialLoginForm">
    <h3>Välkommen till Teknikhögskolans bokningssystem.</h3>
    <p>För att ha tillgång till tjänsten måste du ha tilldelats en användarkonto.</p>
    
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
