@{
    ViewBag.Title = "RecoverPassword";
}

<h2>Glömt lösenord</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Forgot Password Form</legend>
        <ol>
            <li>
                @Html.Label("Ange ditt användarnamn:", new { @for = "userName" })
                @Html.TextBox("UserName")
                <span style="color:red;">@TempData["Message"]</span>
            </li>
        </ol>
        <input type="submit" value="Skicka" />
        @Html.ActionLink("Åter till Login", "Login")
    </fieldset>
}