@model Salsbokningssystem.Models.RegisterModel
@{
    ViewBag.Title = "Ny användare";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Skapa en ny användare</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserGroup)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserGroup)
            @Html.ValidationMessageFor(model => model.UserGroup)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Role)
        </div>
        <div>
            @Html.RadioButtonFor(model => model.Role,"Administratör", new { style = "width:50px;"}) Administratör
        </div>
        <div>
            @Html.RadioButtonFor(model => model.Role,"Lärare", new { style = "width:50px;"}) Lärare
        </div>
        <div>
            @Html.RadioButtonFor(model => model.Role,"Användare", new { style = "width:50px;"}) Användare
        </div>
        <input type="submit" value="Register" />
}
<p>
@Html.ActionLink("Tillbaka till listan", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
