@using Salsbokningssystem.Helpers
@model Salsbokningssystem.Models.Booking

@{
    ViewBag.Title = "Book";
}

<h2>Boka grupprum</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>

        <div class="editor-label">
            Ange starttid (åååå/mm/dd tt:mm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor-label">
            Ange sluttid: (åååå/mm/dd tt:mm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndTime)
            @Html.ValidationMessageFor(model => model.EndTime)
        </div>

        <div class="editor-label">
            Välj grupprum:
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RoomID, PopulateDropDown.Rooms())
            @Html.ValidationMessageFor(model => model.RoomID)
        </div>
        @ViewBag.Error
        <p>
            <input type="submit" value="Boka rummet" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tillbaka till huvudsidan", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}