@using Salsbokningssystem.Helpers
@model Salsbokningssystem.Models.Booking

@{
    ViewBag.Title = "Book";
}

<h2>Boka grupprum</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>
        <div>
            @if (Roles.IsUserInRole("Användare"))
            {
                <text>Dag:</text>
                @Html.DropDownList("bookingDateDDL", PopulateDropDown.Dates(), new { @class = "form-control"})
            }
            else
            {
                <text><div>Ange starttid (åååå/mm/dd tt:mm)</div></text>
                @Html.EditorFor(model => model.StartTime)
                @Html.ValidationMessageFor(model => model.StartTime)
            }
        </div>
        <div>
            @if (Roles.IsUserInRole("Användare"))
            {
                <text>Från:</text>
                @Html.DropDownList("bookingStartDDL", PopulateDropDown.FromTimes(), new { @class = "form-control"})
                <text><br /></text>
                <text>Till:&nbsp;&nbsp;&nbsp;</text>
                @Html.DropDownList("bookingStoppDDL", PopulateDropDown.ToTimes(), new { @class = "form-control"})
            }
            else
            {
                <text><div>Ange sluttid: (åååå/mm/dd tt:mm)</div></text>
                @Html.EditorFor(model => model.EndTime)
                @Html.ValidationMessageFor(model => model.EndTime)
            }
        </div>
        <div>
            Välj grupprum:
        </div>
        <div>
            @Html.DropDownListFor(model => model.RoomID, PopulateDropDown.Rooms(), new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.RoomID)
        </div>
        @ViewBag.Error
        <p>
            <input type="submit" value="Boka rummet" />
        </p>
    </fieldset>
    <div>
        @Html.ActionLink("Tillbaka till huvudsidan", "Index")
    </div>@*
     <table id="table" border="0" style="border-width:1px;border-style:solid;">
 
    <thead>         
    </thead> 
    <tbody>
     
      <tr>  
          <th>*</th>
        @{
    for (int j = 0; j < 8; j++)
    {
        int a = 8 + j;
        int b=a+1;
        <th>@a:00<br>@b:00</th>
        
    } 
    }
     </tr>       
     @{
    foreach (var r in ViewBag.Room )
    {
             <tr>

                 <th>
                     
                      @r.Name
                 </th>
                 @{
        for (int j = 0; j < 8 ; j++)
        {
            int t = j + 8;  
                 <td>
                   @{
            foreach (var b in ViewBag.Booking)
            {
                

                if (r.ID == b.RoomID && b.StartTime.Hour==t)
                       {
                
                          
                         <label style="background-color:red"  >reserved</label>      
                             
                   }
                
                   }
                   }
                  </td>
        }
                }
                    </tr>
    }
              
        }
                
         
    </tbody>
    </table>*@
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}