@using Salsbokningssystem.Helpers
@model Salsbokningssystem.Models.Booking

@{
    ViewBag.Title = "Book";
}
<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<h2>Boka grupprum</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>
        <div>
            @if (Roles.IsUserInRole("Användare"))
            {
                <text>Dag:</text>
                @Html.DropDownList("bookingDateDDL", PopulateDropDown.Dates(), new { @class = "form-control" })
            }
            else
            {   
                @Html.Editor("datepicker")
            }
        </div>
        <div>
            Från:
            @Html.DropDownList("bookingStartDDL", PopulateDropDown.FromTimes(), new { @class = "form-control" })
            <br />
            Till:&nbsp;&nbsp;&nbsp;
            @Html.DropDownList("bookingStoppDDL", PopulateDropDown.ToTimes(), new { @class = "form-control" })

        </div>
        <div>
            Välj grupprum:
        </div>
        <div>
            @Html.DropDownListFor(model => model.RoomID, PopulateDropDown.Rooms(), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RoomID)
        </div>
        @if (!Roles.IsUserInRole("Användare")) 
        {
             <div>
                 <label for="reccuringDate">Boka återkommande tid (3 veckor)</label>
                 <input type="checkbox" name="reccuringDate" id="reccuringDate" value="true" />
             </div>
        }
        @ViewBag.Error
        <p>
            <input type="submit" value="Boka rummet" />
        </p>
    </fieldset>
    <div>
        @Html.ActionLink("Tillbaka till huvudsidan", "Index")
    </div>
   
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Scripts/datepicker-sv.js"></script>
}
