@using Salsbokningssystem.Helpers
@model Salsbokningssystem.Models.Booking

@{
    ViewBag.Title = "Book";
}

<h2>Boka grupprum</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>
        <div>
            @if (Roles.IsUserInRole("Användare"))
            {
                <text>Dag:</text>
                @Html.DropDownList("bookingDateDDL", PopulateDropDown.Dates())
            }
            else
            {
                <text><div>Ange starttid (åååå/mm/dd tt:mm)</div></text>
                @Html.EditorFor(model => model.StartTime)
                @Html.ValidationMessageFor(model => model.StartTime)
            }
        </div>
        <div>
            @if (Roles.IsUserInRole("Användare"))
            {
                <text>Från:</text>
                @Html.DropDownList("bookingStartDDL", PopulateDropDown.FromTimes())
                <text><br /></text>
                <text>Till:</text>
                @Html.DropDownList("bookingStoppDDL", PopulateDropDown.ToTimes())
            }
            else
            {
                <text><div>Ange sluttid: (åååå/mm/dd tt:mm)</div></text>
                @Html.EditorFor(model => model.EndTime)
                @Html.ValidationMessageFor(model => model.EndTime)
            }
        </div>
        <div>
            Välj grupprum:
        </div>
        <div>
            @Html.DropDownListFor(model => model.RoomID, PopulateDropDown.Rooms())
            @Html.ValidationMessageFor(model => model.RoomID)
        </div>
        @ViewBag.Error
        <p>
            <input type="submit" value="Boka rummet" />
        </p>
    </fieldset>
    <div>
        @Html.ActionLink("Tillbaka till huvudsidan", "Index")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}