@using System.Activities.Statements
@using Salsbokningssystem.Helpers

@{
    ViewBag.Title = "Projektrum Teknikhögskolan";
    
}
<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">

                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>


            <p id="maintitle">
                Välkommen till bokningsidan för Teknikhögskolans projektrum.

            </p>
        </div>
    </section>
}
<div>
    @if (TempData["UserMessage"] != null)
    {
        <h4>@TempData["UserMessage"]</h4>  
    }
</div>

<h3>@Html.ActionLink("Boka ny tid", "Book")</h3>



@if(Roles.IsUserInRole("Användare"))
{
<text>Visa dag:</text>

<div id="DDLsubmit" onchange="function1">
    @Html.DropDownList("bookingDateDDL", PopulateDropDown.Dates(), new { @class = "form-control" })
</div>
}

else
{
    @Html.Editor("datepicker")
    <input type="button" name="visa" value="Visa datum" />
} 

<br />
<br />
<br />
<br />

<table class="table1"">

    <thead>
    </thead>
    <tbody>


        <tr>
            <th></th>
            @{
                for (int j = 0; j < 8; j++)
                {
                    int a = 8 + j;
                    int b = a + 1;
        
                <th scope="col" >@a:00<br>@b:00</th>
        
                } 
            }
        </tr>
        @{
            foreach (var r in ViewBag.Room)
            {
            <tr>

                <th scope="row">

                    @r.Name
                </th>
                @{
                for (int j = 0; j < 8; j++)
                {
                    int t = j + 8;  
                    <td>
                        @{
                            int c=0;
                    foreach (var b in ViewBag.Booking)
                    {
                        
                        

                        if (r.ID == b.RoomID && b.StartTime.Hour <= t && t< b.EndTime.Hour)
                        {
                            c=1;
                        }

                    }                        
                           if(c == 1)
                           {
                                <label style="color: rgba(217, 41, 44, 1)">Bokat</label> 
                           }
                           else
                           {
                               <label >ej Bokat</label> 
                           }

                        
                       

                    }
                   
                        

                    </td>
                }
                }
            </tr>
            }
              
        }


    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Scripts/datepicker-sv.js"></script>
}
<script>

    function function1() {

        $("‪#‎DDLsubmit‬").submit()
    }
</script>
@*abbr="Starter"*@