@using System.Activities.Statements
@{
    ViewBag.Title = "Startsida";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">

                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            
         
            <p>
                Bla, bla, bla
            </p>
        </div>
    </section>
}
<h3>@Html.ActionLink("Boka ny tid", "Book")</h3>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Room.Name</h4>
        <div>Bokad från @item.StartTime till @item.EndTime</div>
        <p>Bokad av @item.User.UserName</p>
        <hr />
    </div>
}
