@using System.Activities.Statements
@using Salsbokningssystem.Helpers

@{
    ViewBag.Title = "Projektrum Teknikhögskolan";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">

                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            
         
            <p id="maintitle">
                Välkommen till bokningsidan för Teknikhögskolans projektrum.

            </p>
        </div>
    </section>
}
<div>
    @if (TempData["UserMessage"] != null)
    {
        <h4>@TempData["UserMessage"]</h4>  
    }
</div>

<h3>@Html.ActionLink("Boka ny tid", "Book")</h3>

@*@foreach (var item in Model)
{
    <div>
        <h4>@item.Room.Name</h4>
        <div>Bokad från @item.StartTime till @item.EndTime</div>
        <p>Bokad av @item.User.UserName</p>
        @if (Roles.IsUserInRole("Administratör"))
        {
            @Html.ActionLink("Ta bort bokning", "Remove", "Booking", new {id = item.ID}, null)
        }*@
@*        <hr />
    </div>
}*@

Visa dag:

<div id="DDLsubmit" onchange="function1">  

@Html.DropDownList("bookingDateDDL", PopulateDropDown.Dates(), new { @class = "form-control"})

 </div>    

       <table id="table" border="0" style="border-width:1px;border-style:solid;">
 
    <thead>         
    </thead> 
    <tbody>
     
      <tr>  
          <th>*</th>
        @{
    for (int j = 0; j < 8; j++)
    {
        int a = 8 + j;
        int b=a+1;
        <th>@a:00<br>@b:00</th>
        
    } 
    }
     </tr>       
     @{
    foreach (var r in ViewBag.Room )
    {
             <tr>

                 <th>
                     
                      @r.Name
                 </th>
                 @{
        for (int j = 0; j < 8 ; j++)
        {
            int t = j + 8;  
                 <td>
                   @{
            foreach (var b in ViewBag.Booking)
            {
                

                if (r.ID == b.RoomID && b.StartTime.Hour==t)
                       {
                
                          
                         <label style="background-color:red"  >reserved</label>      
                             
                   }
                
                   }
                   }
                  </td>
        }
                }
                    </tr>
    }
              
        }
                
         
    </tbody>
    </table>

<script>

function function1() {

$("‪#‎DDLsubmit‬").submit()}
</script>