@model Salsbokningssystem.Models.Room



@{
    ViewBag.Title = "Lägg till nytt rum";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Room</legend>

        <div class="editor-label">
            Namn:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
           Antal platser:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Capacity)
            @Html.ValidationMessageFor(model => model.Capacity)
        </div>


        <div class="editor-label">
            Info om rummet:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.info)
            @Html.ValidationMessageFor(model => model.info)
        </div>

        

        <p>
            <input type="submit" value="Skapa" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tillbaks till listan", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
