@model IEnumerable<Salsbokningssystem.Models.Room>


@{
    ViewBag.Title = "Room";
}

@using (Ajax.BeginForm(new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentDiv"
                            
                        }))
{
    <h2>Sök Rum</h2>
    <input type="submit" value="Sök" />
    @Html.TextBox("searchString")
    
}

        <table>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        

        <td>
            @Html.ActionLink("Editera", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Beskrivning", "Details", new { id=item.ID }) |
            @Html.ActionLink("Radera", "Delete", new { id=item.ID })
        </td>
    </tr>
   
}
        </table>
    <p>
    @Html.ActionLink("Tillbaka till listan", "Index")
    </p>
     
