@model IEnumerable<Salsbokningssystem.Models.Room>


@{
    ViewBag.Title = "Room";
}

<h2>Admin</h2>

<div id="contentDiv">
        <table>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        

        <td>
            @Html.ActionLink("Editera", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Beskrivning", "Details", new { id=item.ID }) |
            @Html.ActionLink("Radera", "Delete", new { id=item.ID })
        </td>
    </tr>
   
}
        </table>
    <p>
    @Html.ActionLink("Skapa nytt Projektrum", "Create")
    </p>
     </div>
